@model QuanLySinhVien.ViewModel.Catalog.LopBienChe.LopBienCheViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoThuTu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoThuTu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamKetThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamKetThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Khoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_Khoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_GiangVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_GiangVien)
        </dd>
    </dl>
</div>
