@model QuanLySinhVien.ViewModel.Catalog.LopHocPhans.LopHocPhanUpdateRequest
@using QuanLySinhVien.Data.Enums

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="HK_HocKy" class="control-label"></label>
                    <input asp-for="HK_HocKy" class="form-control" readonly />
                    <span asp-validation-for="HK_HocKy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HK_NamHoc" class="control-label"></label>
                    <input asp-for="HK_NamHoc" class="form-control" readonly />
                    <span asp-validation-for="HK_NamHoc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ID_MonHoc" class="control-label">Môn học</label>
                    <input asp-for="ID_MonHoc" class="form-control" list="listMonHoc" placeholder="Môn học..." readonly/>
                    @*<datalist id="listMonHoc">
                        @if (ViewBag.MonHocs != null)
                        {
                            @foreach (var monHoc in ViewBag.MonHocs)
                            {
                                <option value="@monHoc.ID">@monHoc.ID @monHoc.TenMonHoc</option>
                            }
                        }
                    </datalist>*@
                    <span asp-validation-for="ID_MonHoc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ID_Phong" class="control-label">Phòng</label>
                    <input asp-for="ID_Phong" class="form-control" list="listPhong" placeholder="Phòng..." />
                    <datalist id="listPhong">
                        @if (ViewBag.Phongs != null)
                        {
                            @foreach (var phong in ViewBag.Phongs)
                            {
                                <option value="@phong.ID">@phong.ID</option>
                            }
                        }
                    </datalist>
                    <span asp-validation-for="ID_Phong" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ID_GiangVien" class="control-label">Giảng viên</label>
                    <input asp-for="ID_GiangVien" class="form-control" list="listGiangVien" placeholder="Giảng viên..." />
                    <datalist id="listGiangVien">
                        @if (ViewBag.GiangViens != null)
                        {
                            @foreach (var giangvien in ViewBag.GiangViens)
                            {
                                <option value="@giangvien.ID">@giangvien.ID @giangvien.Ho @giangvien.Ten</option>
                            }
                        }
                    </datalist>
                    <span asp-validation-for="ID_GiangVien" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BuoiHoc" class="control-label">Buổi học</label>
                    <select asp-for="BuoiHoc" name="BuoiHoc" class="custom-select">
                        <option value="@BuoiHoc.Sang">Buổi Sáng</option>
                        <option value="@BuoiHoc.Chieu">Buổi Chiều</option>
                        <option value="@BuoiHoc.Toi">Buổi Tối</option>
                    </select>
                    <span asp-validation-for="BuoiHoc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NgayHoc" class="control-label">Ngày học</label>
                    <select asp-for="NgayHoc" name="NgayHoc" class="custom-select">
                        <option value="@NgayHoc.Thu2">@NgayHoc.Thu2</option>
                        <option value="@NgayHoc.Thu3">Thứ 3</option>
                        <option value="@NgayHoc.Thu4">Thứ 4</option>
                        <option value="@NgayHoc.Thu5">Thứ 5</option>
                        <option value="@NgayHoc.Thu6">Thứ 6</option>
                        <option value="@NgayHoc.Thu7">Thứ 7</option>
                        <option value="@NgayHoc.ChuNhat">Chủ nhật</option>
                    </select>
                    <span asp-validation-for="NgayHoc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" value="Save" class="btn btn-primary">Đồng ý</button>
                </div>
            </form>
        </div>
    </div>
</div>


