@model QuanLySinhVien.ViewModel.Common.PagedResult<QuanLySinhVien.ViewModel.Catalog.LopHocPhans.LopHocPhanViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Danh sách</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="user-topbar">
                <div class="float-left">
                    <form asp-action="index" method="get">
                        <div class="form-row">
                            <div class="col-md-4">
                                <label for="frmGetHocKy">Học kỳ</label>
                                <select name="HocKy" type="text" class="form-control" id="frmGetHocKy">
                                    @for (int i = 1; i <= 3; i++)
                                    {
                                        @if (ViewBag.HocKy == i)
                                        {
                                            <option value=@i selected>@i</option>
                                        }
                                        else
                                        {
                                            <option value=@i>@i</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 ">
                                <label for="frmGetNamHoc">Năm học</label>
                                <select name="NamHoc" class="form-control d-sm-inline-block" id="frmGetNamHoc">
                                    @for (int i = 2016; i <= 2025; i++)
                                    {
                                        @if (ViewBag.NamHoc == i)
                                        {
                                            <option value=@i selected>@i</option>
                                        }
                                        else
                                        {
                                            <option value=@i>@i</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for=""></label>
                                <button type="submit" class="btn btn-info form-control mt-2">Xem</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class=" float-lg-right">
                    <label></label>
                    <h6 class="m-0 font-weight-bold text-primary">
                        <a class="btn btn-success" asp-action="Create" asp-controller="LopHocPhan">Tạo mới</a>
                    </h6>
                    <h6 class="m-0 font-weight-bold text-primary">
                        <form asp-action="Schedule" asp-controller="LopHocPhan" method="post" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100">
                            <div class="input-group">
                                @if (ViewBag.NamHoc != null)
                                {

                                    <input type="number" value="@ViewBag.HocKy" name="HocKy" class="form-control bg-white" hidden>
                                    <input type="number" value="@ViewBag.NamHoc" name="NamHoc" class="form-control bg-white" hidden>
                                    <input type="number" value="3" min="3" name="RoomCount" class="form-control bg-white">
                                }
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        Lập lịch ngẫu nhiên
                                    </button>
                                </div>
                            </div>
                        </form>
                    </h6>
                </div>
            </div>
        </div>
        <div class="card-body">
            @if (ViewBag.SuccessMessage != null)
            {
                <div id="msgAlert" class="alert alert-success" role="alert">
                    @ViewBag.SuccessMessage
                </div>
            }
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Học kỳ
                        </th>
                        <th>
                            Năm học
                        </th>
                        <th>
                            ID Môn học
                        </th>
                        <th>
                            Phòng
                        </th>
                        <th>
                            ID Giảng viên
                        </th>
                        <th>
                            Buổi học
                        </th>
                        <th>
                            Ngày học
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HK_HocKy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HK_NamHoc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID_MonHoc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID_Phong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID_GiangVien)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BuoiHoc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayHoc)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>
