@using QuanLySinhVien.Data.Enums
@model QuanLySinhVien.ViewModel.Catalog.SinhViens.SinhVienUpdateRequest

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Ho" class="control-label">Họ</label>
                    <input asp-for="Ho" class="form-control" />
                    <span asp-validation-for="Ho" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ten" class="control-label">Tên</label>
                    <input asp-for="Ten" class="form-control" />
                    <span asp-validation-for="Ten" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NgaySinh" class="control-label">Ngày sinh</label>
                    <input asp-for="NgaySinh" class="form-control" />
                    <span asp-validation-for="NgaySinh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GioiTinh" class="control-label">Giới tính</label>
                    <input type="radio" value="@GioiTinh.Nam" asp-for="GioiTinh" name="GioiTinh" class="custom-checkbox" />
                    <label class="control-label">Nam</label>
                    <input type="radio" value="@GioiTinh.Nu" asp-for="GioiTinh" name="GioiTinh" class="custom-checkbox" />
                    <label class="control-label">Nữ</label>

                    <span asp-validation-for="GioiTinh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SoDienThoai" class="control-label">Số điện thoại</label>
                    <input asp-for="SoDienThoai" class="form-control" />
                    <span asp-validation-for="SoDienThoai" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DiaChi" class="control-label">Địa chỉ</label>
                    <input asp-for="DiaChi" class="form-control" />
                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ID_LopBienChe" class="control-label">Lớp biên chế</label>

                    <select asp-for="ID_LopBienChe" class="form-control">
                        <option value="">Không biên chế</option>
                        @if (ViewBag.lopBienChes != null)
                        {
                            @foreach (var lopBienChe in ViewBag.lopBienChes)
                            {
                                <option value="@lopBienChe.ID">@lopBienChe.ID</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="ID_LopBienChe" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ID_ChuongTrinhDaoTao" class="control-label">Chương trình đào tạo</label>

                    <select asp-for="ID_ChuongTrinhDaoTao" class="form-control">
                        <option value="">Không biên chế</option>
                        @if (ViewBag.chuongTrinhDaoTaos != null)
                        {
                            @foreach (var ctdt in ViewBag.chuongTrinhDaoTaos)
                            {
                                <option value="@ctdt.ID">@ctdt.ID @ctdt.TenChuongTrinh</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="ID_ChuongTrinhDaoTao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsActive" class="control-label"></label>

                    <input type="radio" id="IsActive" name="IsActive" value="@Status.Active" asp-for="IsActive" class="custom-checkbox" />
                    <label class="control-label">Active</label>
                    <input type="radio" id="IsActive" name="IsActive" value="@Status.InActive" asp-for="IsActive" class="custom-checkbox" />
                    <label class="control-label">Inactive</label>

                    <span asp-validation-for="IsActive" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" value="Save" class="btn btn-primary">Đồng ý</button>
                </div>
            </form>
        </div>
    </div>

</div>

