@model QuanLySinhVien.ViewModel.Catalog.ChiTietChuongTrinhDaoTaos.ChiTietChuongTrinhDaoTaoCreateRequest

@{
    ViewData["Title"] = "CreateDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts{
    <script>
        setTimeout(function () {
            $("#msgAlert").fadeOut('slow');
        }, 2000);
    </script>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateChiTietCTDT">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ID_ChuongTrinhDaoTao" class="control-label"></label>
                    <input asp-for="ID_ChuongTrinhDaoTao" value="@ViewBag.ID_CTDT" class="form-control" readonly />
                    <span asp-validation-for="ID_ChuongTrinhDaoTao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nam" class="control-label">Năm áp dụng</label>
                    <input asp-for="Nam" id="listNamHoc" value="@ViewBag.Nam" class="form-control" readonly />
                    <span asp-validation-for="Nam" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HocKyDuKien" class="control-label"></label>
                    <select asp-for="HocKyDuKien" class="form-control">
                        @for (int i = 1; i <= 12; i++)
                        {
                            <option value="@i">Học kỳ @i</option>
                        }

                    </select>
                    <span asp-validation-for="HocKyDuKien" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ID_MonHoc" class="control-label"></label>
                    <input asp-for="ID_MonHoc" class="form-control" list="listMonHoc" placeholder="Môn học..." />
                    <datalist id="listMonHoc">
                        <option value="">Giảng viên</option>
                        @if (ViewBag.monHocs != null)
                        {
                            @foreach (var monHoc in ViewBag.monHocs)
                            {
                                <option value="@monHoc.ID">@monHoc.ID @monHoc.TenMonHoc</option>
                            }
                        }
                    </datalist>
                    <span asp-validation-for="ID_MonHoc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>

