@model QuanLySinhVien.ViewModel.Catalog.ChuongTrinhDaoTaos.ChuongTrinhDaoTaoViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h4>ChuongTrinhDaoTaoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-2">
            Tên chương trình
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenChuongTrinh)
        </dd>
        <dt class="col-sm-2">
            Năm
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nam)
        </dd>
        <dt class="col-sm-2">
            Khoa
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id_Khoa)
        </dd>

        <table class="table">
            <thead>
            <th>ID</th>
            <th>Tên</th>
            </thead>
            <tbody>
                @foreach (var monHoc in Model.ChiTiet_ChuongTrinhDaoTao_MonHocs)
                {
                    <tr>
                        <td>

                            @monHoc.ID_MonHoc
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </dl>
</div>

