@model QuanLySinhVien.ViewModel.Catalog.MonHocs.MonHocViewModel

@{
    ViewData["Title"] = "Chi tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h4>Chi tiết</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenMonHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenMonHoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTiet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTiet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTinChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTinChi)
        </dd>
    </dl>
</div>
